<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>StudentDeclaration</servlet-name>
  	<display-name>StudentDeclaration</display-name>
  	<description></description>
  	<servlet-class>dao.StudentDeclaration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterStudent</servlet-name>
  	<display-name>RegisterStudent</display-name>
  	<description></description>
  	<servlet-class>controller.RegisterStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterSubject</servlet-name>
  	<display-name>RegisterSubject</display-name>
  	<description></description>
  	<servlet-class>controller.RegisterSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterClasses</servlet-name>
  	<display-name>RegisterClasses</display-name>
  	<description></description>
  	<servlet-class>controller.RegisterClasses</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSubject</servlet-name>
  	<display-name>AddSubject</display-name>
  	<description></description>
  	<servlet-class>controller.AddSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteSubject</servlet-name>
  	<display-name>DeleteSubject</display-name>
  	<description></description>
  	<servlet-class>controller.DeleteSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateSubject</servlet-name>
  	<display-name>UpdateSubject</display-name>
  	<description></description>
  	<servlet-class>controller.UpdateSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStudent</servlet-name>
  	<display-name>UpdateStudent</display-name>
  	<description></description>
  	<servlet-class>controller.UpdateStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStudent</servlet-name>
  	<display-name>DeleteStudent</display-name>
  	<description></description>
  	<servlet-class>controller.DeleteStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteClasses</servlet-name>
  	<display-name>DeleteClasses</display-name>
  	<description></description>
  	<servlet-class>controller.DeleteClasses</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateServlet</servlet-name>
  	<display-name>UpdateServlet</display-name>
  	<description></description>
  	<servlet-class>controller.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateClasses</servlet-name>
  	<display-name>UpdateClasses</display-name>
  	<description></description>
  	<servlet-class>controller.UpdateClasses</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginUser</servlet-name>
  	<display-name>LoginUser</display-name>
  	<description></description>
  	<servlet-class>controller.LoginUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutUser</servlet-name>
  	<display-name>LogoutUser</display-name>
  	<description></description>
  	<servlet-class>controller.LogoutUser</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentDeclaration</servlet-name>
  	<url-pattern>/StudentDeclaration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterStudent</servlet-name>
  	<url-pattern>/RegisterStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterSubject</servlet-name>
  	<url-pattern>/RegisterSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterClasses</servlet-name>
  	<url-pattern>/RegisterClasses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSubject</servlet-name>
  	<url-pattern>/AddSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteSubject</servlet-name>
  	<url-pattern>/DeleteSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSubject</servlet-name>
  	<url-pattern>/UpdateSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStudent</servlet-name>
  	<url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStudent</servlet-name>
  	<url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteClasses</servlet-name>
  	<url-pattern>/DeleteClasses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateServlet</servlet-name>
  	<url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateClasses</servlet-name>
  	<url-pattern>/UpdateClasses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginUser</servlet-name>
  	<url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutUser</servlet-name>
  	<url-pattern>/LogoutUser</url-pattern>
  </servlet-mapping>
</web-app>
